extends homelayout

block homecontent
  .container
    .row
      .col-12

        div.jumbotron
          p.lead
          hr.m-y-md
          p.
            Here are the donations
          p.lead
            <a class="btn btn-info btn-lg" href="#{baseUrl}/home/donations/new" role="button">Get New</a>

      .col-12
        //- each donation in donations
        //-   <div class="card text-center">
        //-     <div class="card-body">
        //-       <h4 class="card-title">#{}</h4>
        //-       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        //-     </div>
        //-     <ul class="list-group list-group-flush">
        //-       <li class="list-group-item">Cras justo odio</li>
        //-       <li class="list-group-item">Dapibus ac facilisis in</li>
        //-       <li class="list-group-item">Vestibulum at eros</li>
        //-     </ul>
        //-     <div class="card-body">
        //-       <a href="#" class="card-link">Card link</a>
        //-       <a href="#" class="card-link">Another link</a>
        //-     </div>
        //-   </div>
    .row
      .col-12
        each msg in view
          if msg.title === 'Error'
            <div class="alert alert-danger" role="alert">
              <strong>#{msg.title}</strong> #{msg.msg}
            </div>
          else
            <div class="alert alert-info" role="alert">
              <strong>#{msg.title}</strong> #{msg.msg}
            </div>
